<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <% if @user.id != current_user[:id] %>
    <% if request_sent? %>
      <% if @sent_request[:status] == 'requested' %>
        <%= link_to 'Cancel friend request', :controller => 'friendships', :action => 'destroy', :sender => current_user, :receiver => @user, :redirect_user => @user %>
      <% elsif @sent_request[:status] == 'accepted' %>
        <div>Your Friend.</div>
        <%= link_to 'Remove as friend', :controller => 'friendships', :action => 'destroy', :sender => current_user, :receiver => @user, :redirect_user => @user %>
      <% elsif @sent_request[:status] == 'declined' %>
        <div>Friendship Declined</div>
      <% end %>
    <% elsif request_received? %>
      <% if @received_request[:status] == 'requested' %>
        <div>You have been requested as friend.</div>
        <%= link_to 'Accept request', :controller => 'friendships', :action => 'update', :sender => @user, :receiver => current_user, :status=> 'accepted' %><br />
        <%= link_to 'Decline request', :controller => 'friendships', :action => 'update', :sender => @user, :receiver => current_user, :status=> 'declined' %>
      <% elsif @received_request[:status] == 'accepted' %>
        <div>Your Friend.</div>
        <%= link_to 'Remove as friend', :controller => 'friendships', :action => 'destroy', :sender => @user, :receiver => current_user, :redirect_user => @user %>
      <% elsif @received_request[:status] == 'declined' %>
        <%= link_to 'Add as friend', :controller => 'friendships', :action => 'create', :sender => current_user, :receiver => @user %>
      <% end %>
    <% else %>
      <%= link_to 'Add as friend', :controller => 'friendships', :action => 'create', :sender => current_user, :receiver => @user %>
    <% end %>
  <% end %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
